<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
      </head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>

    </header>

<main>
<!-- display all the article -->
    <h1>Articles</h1>
    <% for (let i = data.length-1; i >= 0; i--) { %>
    <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title"><%= data[i].title %></h5>
          <!-- display the start of the content -->
          <p class="card-text"><%= data[i].content.substring(0, 100) %>...</p>
          <!-- <p class="card-text"><%= data[i].content %></p> -->
          <p class="card-text"><small class="text-muted">Written by <%= data[i].author %></small></p>
          <a href="/Article/<%= data[i]._id %>" class="btn btn-primary">Read more</a>
        </div>
      </div>
      <% } %>



</main>


</body>
</html>